<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Meal Log | APP</title>
	</head>
	<body>

		<div><% if(!authenticated){ %>
					<h1>SIGN IN </h1>
				<a id="sign" href="/auth/google"
					><i class="fa-brands fa-google"></i> SignIn</a
				>
				<% }else{ %>
							<h1>Logged in </h1>
				<a id="sign" href="/auth/logout"
					><i class="fa-brands fa-google"></i> Logout</a
				>
				<% } %>
				</div>
		<h1>Add MEAL for user</h1>

		<form action="/foodlog" method="POST">
			<button type="submit" class="btn1">Add Meal</button>
		</form>

		</br>
		</br>
		</br>
		
		<p>
			<h4>hashtags list: </h4>
			<% for (let i=0; i < hashtags.length; i++) { %>
				<%=hashtags[i].name%>
			<%}%>
		</p>

		<p>
			<h4>fooditems list: </h4>
			<% for (let i=0; i < fooditems.length; i++) { %>
				<%=fooditems[i].name%>
			<%}%>
		</p>
		<script src="scripts/ejs.js"></script>
	</body>
</html>
